.services {
  padding: $spacing-xxl 0;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
  }

  &__content {
    width: 48%
  }

  &__title {
    font-family: $font-title;
    font-size: $font-size-xxl;
    font-weight: $font-weight-bold;
    line-height: 1.4;
  }

  &__text {
    line-height: vw(36);
    margin: $spacing-xxl 0;
    max-width: vw(600);
  }

  &__button {
    max-width: vw(160);
  }

  &__list {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $spacing-xxl;
    max-width: vw(560);

    &-info {
      margin-left: $spacing-xxl;
    }

    &-title {
      font-family: $font-title;
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      margin-bottom: $spacing-s;
    }

    &-description {
      line-height: vw(36);
    }

  }
}