*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $font-text;
  font-size: vw(16);
  font-weight: $font-weight-medium;
}

.container {
  width: 80vw;
  max-width: vw(1480);
  margin: 0 auto;
}

.gradient-background {
  background-image: linear-gradient(to bottom, $color-white, $color-terciary);
}